{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'custom/css/project_list.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3>Project List</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item">Bootstrap Tables</li>
            <li class="breadcrumb-item active">Project List</li>
          </ol>
        </div>
        <div class="col-sm-6">
          <!-- Bookmark Start-->
          <div class="bookmark">
            <ul>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                <form class="form-inline search-form">
                  <div class="form-group form-control-search">
                    <input type="text" placeholder="Search..">
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <!-- Bookmark Ends-->
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Project List</h5>
            <!-- <div class="checkbox-dropdown">
                Choose city
                <ul class="checkbox-dropdown-list">
                  <li>
                    <label>
                      <input type="checkbox" value="Vejle" name="city" />Milwaukee</label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" value="Horsens" name="city" />Denver</label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" value="Kolding" name="city" />Boston</label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" value="Kolding" name="city" />LA</label>
                  </li>
                  
                </ul>
              </div> -->
            </div>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="table-primary">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Project Code</th>
                  <th scope="col">State</th>
                  <th scope="col">Project Name</th>
                  <th scope="col">Created By</th>
                  <th scope="col">Created Date</th>
                </tr>
              </thead>
              <tbody>
                {% for p in project_list %}
                <tr>
                  <th scope="row">{{ p.pk }}</th>
                  <td><a href="{% url 'project_update' p.pk %}">{{ p.code }}</a></td>
                  <td><button class="btn btn-sm btn-primary">{{ p.state }}</button></td>
                  <td>{{ p.name }}</td>
                  <td>{{ p.created_by.first_name }}</td>
                  <td>{{ p.created_date }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block js %}
<script>
</script>
{% endblock %}
